$userMenuHeight: 40px;
$mobileMainMenuHeight: 60px;
$desktopMainMenuWidth: 250px;
$containerWidth: 1000px;

$defaultFloatButtonSize: 50px;



.container-padding {
  padding: 100px 30px;
}

.blue {
  $backgroundColor: royalblue;
}

